In [23]:
import pandas as pd
import numpy as np
import ast

In [24]:
df = pd.read_csv('out_with_pros_jobdesc.csv')   #import file
df.head() # Getting basic information

,Unnamed: 0,Job Title,Company,Company Rating,Job Description,Salary,Location,Career Opportunities,Company Benefits,Culture & Values,Upper Management,Work Life Balance,Company Pros Reviews,Company Cons Reviews
0,0,No Interview + Start Immediate * 3 Months Temp...,Recruit Express\n3.3,3.3,"Singapore |\nPosted: Sep 17, 2023\nJD - to ass...",Employer Provided Salary:$12.00 Per hour,Singapore,3.1,3.2,3.3,3.2,3.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
1,1,Staff Analyst - Information Technology (B2B),Infineon Technologies\n4.2,4.2,"Are you an entrepreneurial thinker, creative p...",-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD\n3.3,3.3,looking for fresh graduates with IT educationa...,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
3,3,Information Technology - Mobile Applications D...,Singapore Airlines\n3.8,3.8,The Singapore Airlines Mobile application (ava...,$89K - $132K (Glassdoor Est.),Singapore,3.1,3.5,3.3,3.0,3.6,"['""Good benefits and strong union support"" (in...","['""Mostly under contract and salary is average..."
4,4,Information Technology Engineer (IBM Mainframe...,D L RESOURCES PTE LTD\n3.3,3.3,"Requirements:\nExperience in IBM Mainframe, CO...",Employer Provided Salary:$3K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."

In [25]:
# information about columns and data types
# no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            990 non-null    int64
 1   Job Title             990 non-null    object
 2   Company               990 non-null    object
 3   Company Rating        990 non-null    float64
 4   Job Description       990 non-null    object
 5   Salary                990 non-null    object
 6   Location              990 non-null    object
 7   Career Opportunities  990 non-null    float64
 8   Company Benefits      990 non-null    float64
 9   Culture & Values      990 non-null    float64
 10  Upper Management      990 non-null    float64
 11  Work Life Balance     990 non-null    float64
 12  Company Pros Reviews  990 non-null    object
 13  Company Cons Reviews  990 non-null    object
dtypes: float64(6), int64(1), object(7)
memory usage: 108.4+ KB

In [26]:
# copying dataset for cleaning
df_clear = df.copy()

In [27]:
# Getting names of columns
df.columns

Index(['Unnamed: 0', 'Job Title', 'Company', 'Company Rating',
       'Job Description', 'Salary', 'Location', 'Career Opportunities',
       'Company Benefits', 'Culture & Values', 'Upper Management',
       'Work Life Balance', 'Company Pros Reviews', 'Company Cons Reviews'],
      dtype='object')

In [28]:
df_clear.rename(columns=str.lower, inplace=True)
df_clear

,unnamed: 0,job title,company,company rating,job description,salary,location,career opportunities,company benefits,culture & values,upper management,work life balance,company pros reviews,company cons reviews
0,0,No Interview + Start Immediate * 3 Months Temp...,Recruit Express\n3.3,3.3,"Singapore |\nPosted: Sep 17, 2023\nJD - to ass...",Employer Provided Salary:$12.00 Per hour,Singapore,3.1,3.2,3.3,3.2,3.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
1,1,Staff Analyst - Information Technology (B2B),Infineon Technologies\n4.2,4.2,"Are you an entrepreneurial thinker, creative p...",-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD\n3.3,3.3,looking for fresh graduates with IT educationa...,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
3,3,Information Technology - Mobile Applications D...,Singapore Airlines\n3.8,3.8,The Singapore Airlines Mobile application (ava...,$89K - $132K (Glassdoor Est.),Singapore,3.1,3.5,3.3,3.0,3.6,"['""Good benefits and strong union support"" (in...","['""Mostly under contract and salary is average..."
4,4,Information Technology Engineer (IBM Mainframe...,D L RESOURCES PTE LTD\n3.3,3.3,"Requirements:\nExperience in IBM Mainframe, CO...",Employer Provided Salary:$3K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,"Lending Specialist, Private Banking",STANDARD CHARTERED BANK (SINGAPORE) LIMITED\n4.0,4.0,Role Responsibilities\nTo assist in providing ...,Employer Provided Salary:$5K - $8K,Singapore,3.7,3.8,3.9,3.4,3.7,"['""work life balance sounds good"" (in 104 revi...","['""No work life balance especially if you are ..."
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT\n4.0,4.0,Job purpose:\nThis is a role for a Markets Com...,Employer Provided Salary:$8K - $9K,Singapore,3.6,3.7,3.9,3.6,4.3,"['""Good work life balance with ample PTO"" (in ...","['""Absolutely no work life balance"" (in 5 revi..."
987,987,Senior Audit Support Analyst,Morgan McKinley\n4.2,4.2,Job Summary\nSingapore\nPermanent\nJN -082023-...,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"['""Great agency to work with!"" (in 1 reviews)'...","['""needs better pay to make a living"" (in 2 re..."
988,988,Admin Assistant,HAYS SPECIALIST RECRUITMENT PTE. LTD.\n3.6,3.6,Your Company:\n\nA leading global financial se...,Employer Provided Salary:$4K - $5K,Singapore,3.7,3.3,3.6,3.3,3.4,"['""good salary"" (in 17 reviews)', '""Friendly s...","['""Salary is low"" (in 17 reviews)', '""Staff ar..."
989,989,Associate - Singapore Regulatory Compliance Of...,NOMURA SINGAPORE LIMITED\n3.9,3.9,Company overview\nNomura is a global financial...,Employer Provided Salary:$7K - $13K,Singapore,3.5,3.6,3.8,3.3,3.8,"['""Good pay"" (in 4 reviews)', '""Mostly nice pe...","['""Pay not good compared with competitors"" (in..."

In [29]:
df_clear.columns = df_clear.columns.str.replace(' ', '_')
df_clear.columns = df_clear.columns.str.replace('&', '_')
df_clear

,unnamed:_0,job_title,company,company_rating,job_description,salary,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,No Interview + Start Immediate * 3 Months Temp...,Recruit Express\n3.3,3.3,"Singapore |\nPosted: Sep 17, 2023\nJD - to ass...",Employer Provided Salary:$12.00 Per hour,Singapore,3.1,3.2,3.3,3.2,3.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
1,1,Staff Analyst - Information Technology (B2B),Infineon Technologies\n4.2,4.2,"Are you an entrepreneurial thinker, creative p...",-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD\n3.3,3.3,looking for fresh graduates with IT educationa...,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
3,3,Information Technology - Mobile Applications D...,Singapore Airlines\n3.8,3.8,The Singapore Airlines Mobile application (ava...,$89K - $132K (Glassdoor Est.),Singapore,3.1,3.5,3.3,3.0,3.6,"['""Good benefits and strong union support"" (in...","['""Mostly under contract and salary is average..."
4,4,Information Technology Engineer (IBM Mainframe...,D L RESOURCES PTE LTD\n3.3,3.3,"Requirements:\nExperience in IBM Mainframe, CO...",Employer Provided Salary:$3K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,"Lending Specialist, Private Banking",STANDARD CHARTERED BANK (SINGAPORE) LIMITED\n4.0,4.0,Role Responsibilities\nTo assist in providing ...,Employer Provided Salary:$5K - $8K,Singapore,3.7,3.8,3.9,3.4,3.7,"['""work life balance sounds good"" (in 104 revi...","['""No work life balance especially if you are ..."
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT\n4.0,4.0,Job purpose:\nThis is a role for a Markets Com...,Employer Provided Salary:$8K - $9K,Singapore,3.6,3.7,3.9,3.6,4.3,"['""Good work life balance with ample PTO"" (in ...","['""Absolutely no work life balance"" (in 5 revi..."
987,987,Senior Audit Support Analyst,Morgan McKinley\n4.2,4.2,Job Summary\nSingapore\nPermanent\nJN -082023-...,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"['""Great agency to work with!"" (in 1 reviews)'...","['""needs better pay to make a living"" (in 2 re..."
988,988,Admin Assistant,HAYS SPECIALIST RECRUITMENT PTE. LTD.\n3.6,3.6,Your Company:\n\nA leading global financial se...,Employer Provided Salary:$4K - $5K,Singapore,3.7,3.3,3.6,3.3,3.4,"['""good salary"" (in 17 reviews)', '""Friendly s...","['""Salary is low"" (in 17 reviews)', '""Staff ar..."
989,989,Associate - Singapore Regulatory Compliance Of...,NOMURA SINGAPORE LIMITED\n3.9,3.9,Company overview\nNomura is a global financial...,Employer Provided Salary:$7K - $13K,Singapore,3.5,3.6,3.8,3.3,3.8,"['""Good pay"" (in 4 reviews)', '""Mostly nice pe...","['""Pay not good compared with competitors"" (in..."

In [30]:
company_name = df_clear.company.tolist()
# removed the numbers from the company name
for i in range(len(company_name)):
    company_name[i] = company_name[i].split('\n',1)[0]

In [31]:
# preview cleaned company names
df_clear.company = company_name
df_clear.head()

,unnamed:_0,job_title,company,company_rating,job_description,salary,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,No Interview + Start Immediate * 3 Months Temp...,Recruit Express,3.3,"Singapore |\nPosted: Sep 17, 2023\nJD - to ass...",Employer Provided Salary:$12.00 Per hour,Singapore,3.1,3.2,3.3,3.2,3.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
1,1,Staff Analyst - Information Technology (B2B),Infineon Technologies,4.2,"Are you an entrepreneurial thinker, creative p...",-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD,3.3,looking for fresh graduates with IT educationa...,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
3,3,Information Technology - Mobile Applications D...,Singapore Airlines,3.8,The Singapore Airlines Mobile application (ava...,$89K - $132K (Glassdoor Est.),Singapore,3.1,3.5,3.3,3.0,3.6,"['""Good benefits and strong union support"" (in...","['""Mostly under contract and salary is average..."
4,4,Information Technology Engineer (IBM Mainframe...,D L RESOURCES PTE LTD,3.3,"Requirements:\nExperience in IBM Mainframe, CO...",Employer Provided Salary:$3K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."

In [32]:
# Replacing -1 values to 0-0 for easier processing of max/min salary values
salary_estimate = df_clear.salary.tolist()

for i in range(len(salary_estimate)):
    if salary_estimate[i] == '-1':
        salary_estimate[i] = '$0K-$0K'

In [33]:
# Extract salary value by texts' (Employer Provided Salary: and  (Glassdoor Est.))
for i in range(len(salary_estimate)):
    salary_estimate[i] = salary_estimate[i].replace('Employer Provided Salary:', '')
    salary_estimate[i] = salary_estimate[i].replace(' (Glassdoor Est.)', '')
    salary_estimate[i] = salary_estimate[i].replace('$', '')
    salary_estimate[i] = salary_estimate[i].replace('K', '')
    salary_estimate[i] = salary_estimate[i].replace(' ', '')

    if 'Perhour' in salary_estimate[i]:
        salary_estimate[i] = '12-12'

print(salary_estimate)

['12-12', '0-0', '2-6', '89-132', '3-6', '13-15', '0-0', '7-11', '89-132', '7-11', '4-5', '3-4', '4-8', '8-16', '5-10', '7-14', '3-5', '0-0', '12-21', '3-4', '150-200', '0-0', '2-5', '3-3', '4-5', '50-99', '2-4', '3-3', '60-82', '10-12', '6-12', '4-5', '37-56', '0-0', '50-95', '100-121', '8-10', '0-0', '0-0', '2-5', '0-0', '36-108', '7-11', '7-11', '11-23', '0-0', '6-11', '36-108', '4-8', '7-11', '37-56', '0-0', '2-5', '7-10', '4-6', '8-10', '0-0', '0-0', '86-125', '0-0', '12-12', '3-4', '5-7', '4-6', '0-0', '0-0', '0-0', '50-70', '0-0', '50-84', '2-3', '34-66', '0-0', '29-60', '2-5', '0-0', '44-57', '0-0', '7-13', '50-73', '36-63', '36-84', '32-96', '60-150', '0-0', '3-4', '7-10', '94-185', '29-68', '80-137', '6-12', '4-5', '37-56', '50-95', '0-0', '100-121', '8-10', '7-11', '0-0', '0-0', '0-0', '0-0', '2-5', '8-11', '7-11', '4-5', '5-7', '7-10', '0-0', '7-10', '11-23', '4-8', '7-8', '7-11', '0-0', '36-108', '2-5', '6-11', '10-11', '7-11', '3-4', '94', '60-82', '34-66', '5-7', '3-3', '3-3', '42-85', '0-0', '0-0', '0-0', '2-5', '0-0', '50-84', '4-6', '3-4', '60-70', '32-96', '34-41', '34-41', '0-0', '7-10', '60-130', '50-73', '3-3', '4-5', '2-3', '26-41', '37-86', '37-82', '3-5', '6-8', '7-13', '3-7', '10-20', '5-9', '4-8', '11-21', '42-84', '4-5', '0-0', '50-99', '0-0', '0-0', '11-22', '10-20', '8-16', '50-99', '0-0', '8-16', '0-0', '0-0', '0-0', '0-0', '50-99', '50-99', '10-20', '2-3', '52-63', '0-0', '3-4', '3-3', '60-82', '94', '0-0', '5-7', '7-10', '7-10', '3-4', '7-10', '5-11', '100', '34-66', '0-0', '3-5', '12-23', '3-3', '8-11', '60-92', '8-12', '8-12', '0-0', '42-85', '10-13', '4-5', '0-0', '7-10', '2-5', '3-7', '0-0', '6-9', '50-65', '3-5', '5-7', '6-8', '7-10', '7-10', '0-0', '7-10', '5-8', '5-6', '0-0', '8-12', '5-9', '4-7', '0-0', '4-7', '0-0', '5-8', '102', '0-0', '0-0', '5-9', '5-9', '79-96', '55-87', '0-0', '0-0', '0-0', '0-0', '0-0', '3-10', '4-5', '3-5', '6-9', '60-82', '5-8', '94', '16-31', '4-7', '4-7', '7-11', '6-12', '0-0', '27-77', '7-11', '8-15', '8-15', '7-15', '50-65', '8-12', '9-11', '5-8', '5-6', '7-9', '12-24', '81-128', '8-9', '10-20', '9-13', '60-82', '50-65', '81-96', '96-132', '81-128', '7-10', '7-10', '7-10', '0-0', '8-12', '7-12', '5-9', '0-0', '10-14', '4-7', '11-21', '4-7', '0-0', '8-12', '42-65', '0-0', '95-118', '5-7', '5-9', '102', '0-0', '0-0', '0-0', '0-0', '0-0', '6-12', '3-5', '27-48', '8-9', '48-60', '64-98', '8-16', '4-6', '32-56', '5-13', '5-13', '6-12', '50-99', '0-0', '14-52', '10-19', '27-48', '50-99', '7-11', '0-0', '10-20', '63-92', '7-12', '0-0', '4-6', '96-156', '0-0', '3-6', '4-5', '60-66', '4-6', '12-17', '60-66', '0-0', '0-0', '0-0', '6-12', '0-0', '0-0', '100-180', '7-13', '64-98', '100-180', '64-98', '1', '100-180', '100-177', '64-98', '64-66', '0-0', '64-98', '64-98', '5-13', '1-3', '0-0', '60-72', '0-0', '0-0', '64-98', '64-98', '12-15', '4-11', '6-10', '0-0', '8-17', '8-9', '6-9', '96-132', '5-13', '9-13', '0-0', '5-9', '7-12', '7-11', '48-60', '48-61', '10-20', '6-9', '0-0', '11-21', '10-14', '4-7', '2-3', '48-60', '0-0', '66-78', '5-9', '84-96', '0-0', '82-110', '0-0', '6-8', '6-8', '4-7', '7-10', '5-7', '4-4', '7-9', '7-9', '3-5', '7-8', '7-10', '63-92', '6-8', '0-0', '3-4', '0-0', '3', '2-2', '0-0', '4-7', '72-78', '0-0', '0-0', '7-9', '48-93', '8-10', '4-7', '51-71', '36-66', '3-10', '60-82', '0-0', '96-132', '7-12', '5-7', '2-4', '5-8', '5-6', '14-52', '78-128', '3-6', '48-60', '90-132', '48-61', '80-120', '7-10', '0-0', '4-7', '0-0', '6-10', '0-0', '7-13', '0-0', '0-0', '60-120', '0-0', '0-0', '0-0', '58-72', '3-10', '60-82', '0-0', '96-132', '5-7', '14-52', '48-60', '7-12', '3-6', '90-132', '5-8', '48-61', '0-0', '78-128', '4-7', '2-4', '80-120', '5-6', '6-10', '0-0', '0-0', '7-10', '7-13', '0-0', '0-0', '0-0', '0-0', '60-120', '0-0', '0-0', '6-9', '5-8', '8-9', '5-7', '50-65', '7-14', '7-10', '2-4', '7-9', '7-14', '6-8', '0-0', '7-13', '10-20', '0-0', '6-12', '63-66', '0-0', '42-72', '0-0', '0-0', '60-96', '30-84', '49-55', '0-0', '0-0', '30-84', '89-132', '0-0', '79-96', '6-9', '5-8', '8-9', '50-65', '7-14', '5-7', '2-4', '7-10', '7-9', '7-14', '6-8', '0-0', '7-13', '0-0', '10-20', '6-12', '63-66', '0-0', '42-72', '60-96', '49-55', '30-84', '30-84', '89-132', '0-0', '0-0', '75-86', '89-132', '0-0', '0-0', '7-14', '0-0', '2-4', '0-0', '5-6', '0-0', '0-0', '0-0', '0-0', '60-138', '86-125', '60-85', '0-0', '5-6', '0-0', '52-124', '0-0', '0-0', '0-0', '3-6', '5-7', '4-8', '3-3', '35-49', '5-5', '74-92', '0-0', '5-9', '0-0', '6-9', '6-12', '3-5', '4-6', '27-48', '27-48', '4-6', '0-0', '0-0', '14-52', '0-0', '48-60', '14-52', '0-0', '32-56', '0-0', '48-60', '66-78', '14-52', '5-9', '84-140', '1-3', '14-52', '66-78', '4-5', '0-0', '0-0', '0-0', '48-61', '0-0', '12-17', '6-12', '3-5', '27-48', '4-6', '27-48', '4-5', '0-0', '66-78', '0-0', '1-3', '0-0', '14-52', '0-0', '14-52', '0-0', '0-0', '32-56', '0-0', '4-6', '0-0', '0-0', '48-60', '0-0', '14-52', '48-60', '84-140', '0-0', '66-78', '12-17', '0-0', '0-0', '0-0', '10-14', '0-0', '78-84', '0-0', '0-0', '9-11', '8-17', '0-0', '0-0', '5-13', '7-13', '0-0', '5-10', '12-15', '114-143', '12-23', '0-0', '0-0', '0-0', '6-10', '11-21', '11-22', '8-17', '0-0', '0-0', '112-158', '14-52', '0-0', '0-0', '0-0', '0-0', '9-11', '8-17', '0-0', '0-0', '0-0', '10-14', '78-84', '0-0', '114-143', '0-0', '5-10', '12-15', '12-23', '7-13', '0-0', '5-13', '6-10', '0-0', '0-0', '11-22', '11-21', '8-17', '0-0', '0-0', '112-158', '14-52', '80-137', '0-0', '4-5', '3-10', '6-9', '60-82', '94', '5-8', '27-77', '6-12', '58-62', '7-12', '4-5', '0-0', '6-9', '15-23', '54-77', '8-15', '4-6', '8-9', '6-12', '8-15', '0-0', '27-48', '16-31', '0-0', '6-7', '4-6', '60-82', '50-65', '5-8', '0-0', '4-5', '3-10', '6-9', '60-82', '5-8', '94', '27-77', '96-131', '8-9', '8-15', '6-12', '16-31', '27-48', '4-6', '0-0', '8-15', '0-0', '6-7', '4-6', '7-11', '58-62', '5-8', '7-15', '6-9', '50-65', '5-8', '60-82', '15-23', '27-48', '4-8', '0-0', '49', '32-48', '50-99', '7-10', '7-12', '50-99', '50-99', '50-99', '50-99', '0-0', '9-13', '11-21', '0-0', '5-9', '42-65', '3-5', '3-6', '7-13', '41-102', '8-9', '0-0', '5-8', '4-7', '0-0', '5-8', '2-4', '7-13', '0-0', '0-0', '3-3', '29-36', '7-12', '8-9', '29-36', '48-61', '90-125', '3-3', '5-5', '36-44', '64', '4', '0-0', '3-5', '0-0', '3-4', '3-4', '6-7', '2-3', '81-115', '0-0', '0-0', '37-73', '0-0', '0-0', '5-10', '3-6', '0-0', '1-2', '0-0', '60-82', '4-6', '3-5', '6-8', '7-11', '4-5', '27-48', '32-48', '3-6', '27-48', '2-5', '5-7', '0-0', '50-65', '2-4', '5-7', '6-8', '4-7', '5-6', '5-8', '5-8', '5-7', '7-9', '7-9', '6-9', '10-20', '0-0', '0-0', '96-132', '6-9', '4-6', '4-5', '7-10', '6-7', '6-9', '3-4', '5-7', '4-7', '4-7', '8-15', '3-5', '5-6', '8-11', '5-8', '7-10', '5-7', '7-10', '0-0', '7-9', '4-10', '9-11', '0-0', '5-7', '6-10', '6-11', '8-10', '0-0', '6-8', '7-10', '6-12', '0-0', '0-0', '8-9', '8-9', '5-8', '0-0', '0-0', '0-0', '43-60', '8-15', '3-3', '3', '1', '35-64', '33-48', '4', '74-114', '0-0', '4-5', '74-120', '0-0', '0-0', '34-53', '0-0', '0-0', '0-0', '2-3', '40-78', '0-0', '6-12', '0-0', '8-9', '5-8', '8-9', '0-0', '0-0', '0-0', '43-60', '0-0', '33-48', '35-64', '8-15', '4', '3-3', '3', '0-0', '4-5', '0-0', '1', '0-0', '0-0', '74-114', '40-78', '2-3', '74-120', '34-53', '0-0', '74-121', '0-0', '0-0', '60-82', '2-5', '4-6', '27-48', '4-5', '3-6', '6-8', '7-11', '5-7', '2-4', '32-48', '27-48', '4-7', '5-7', '10-20', '5-8', '3-5', '50-65', '0-0', '7-9', '5-6', '5-7', '5-8', '96-132', '7-9', '6-8', '6-9', '0-0', '7-13', '50-99', '50-99', '7-12', '0-0', '4-8', '32-48', '7-10', '50-99', '49', '50-99', '3-6', '50-99', '0-0', '0-0', '11-21', '9-13', '5-9', '5-8', '3-5', '0-0', '42-65', '0-0', '41-102', '4-7', '7-13', '5-8', '8-9', '0-0', '4-5', '7-13']

In [34]:
df_clear.salary = salary_estimate
df_clear.salary.unique()

array(['12-12', '0-0', '2-6', '89-132', '3-6', '13-15', '7-11', '4-5',
       '3-4', '4-8', '8-16', '5-10', '7-14', '3-5', '12-21', '150-200',
       '2-5', '3-3', '50-99', '2-4', '60-82', '10-12', '6-12', '37-56',
       '50-95', '100-121', '8-10', '36-108', '11-23', '6-11', '7-10',
       '4-6', '86-125', '5-7', '50-70', '50-84', '2-3', '34-66', '29-60',
       '44-57', '7-13', '50-73', '36-63', '36-84', '32-96', '60-150',
       '94-185', '29-68', '80-137', '8-11', '7-8', '10-11', '94', '42-85',
       '60-70', '34-41', '60-130', '26-41', '37-86', '37-82', '6-8',
       '3-7', '10-20', '5-9', '11-21', '42-84', '11-22', '52-63', '5-11',
       '100', '12-23', '60-92', '8-12', '10-13', '6-9', '50-65', '5-8',
       '5-6', '4-7', '102', '79-96', '55-87', '3-10', '16-31', '27-77',
       '8-15', '7-15', '9-11', '7-9', '12-24', '81-128', '8-9', '9-13',
       '81-96', '96-132', '7-12', '10-14', '42-65', '95-118', '27-48',
       '48-60', '64-98', '32-56', '5-13', '14-52', '10-19', '63-92',
       '96-156', '60-66', '12-17', '100-180', '1', '100-177', '64-66',
       '1-3', '60-72', '12-15', '4-11', '6-10', '8-17', '48-61', '66-78',
       '84-96', '82-110', '4-4', '3', '2-2', '72-78', '48-93', '51-71',
       '36-66', '78-128', '90-132', '80-120', '60-120', '58-72', '63-66',
       '42-72', '60-96', '30-84', '49-55', '75-86', '60-138', '60-85',
       '52-124', '35-49', '5-5', '74-92', '84-140', '78-84', '114-143',
       '112-158', '58-62', '15-23', '54-77', '6-7', '96-131', '49',
       '32-48', '41-102', '29-36', '90-125', '36-44', '64', '4', '81-115',
       '37-73', '1-2', '4-10', '43-60', '35-64', '33-48', '74-114',
       '74-120', '34-53', '40-78', '74-121'], dtype=object)

In [35]:
# Splitting data to make a low and max salary limit columns
split_data = df_clear.salary.str.split('-', expand=True)
low_salary_limit = split_data[0].tolist()
max_salary_limit = split_data[1].tolist()

for i in range(len(max_salary_limit)):
    if max_salary_limit[i] == None:
        max_salary_limit[i] = low_salary_limit[i]

In [36]:
new_idx = df_clear.columns.get_loc('salary') + 1

In [37]:
# insert the low_salary_limit column after the salary_estimate column
df_clear.insert(new_idx, 'low_salary_limit', low_salary_limit)

new_idx2 = df_clear.columns.get_loc('low_salary_limit') + 1

In [39]:
# insert the max_salary_limit column after the low_salary_limit column
df_clear.insert(new_idx2, 'max_salary_limit', max_salary_limit)

#pd.set_option('display.max_rows', None)
#df_clear
# remove extra values from the column with salary
df_clear['max_salary_limit'] = df_clear['max_salary_limit'].astype(int)
df_clear['low_salary_limit'] = df_clear['low_salary_limit'].astype(int)

ValueError: cannot insert max_salary_limit, already exists

In [40]:
# lead to thousands
df_clear[['low_salary_limit', 'max_salary_limit']] = df_clear[['low_salary_limit', 'max_salary_limit']] * 1000

In [41]:
# remove the salary estimate column
df_clear.drop(columns='salary', inplace=True)
df_clear

,unnamed:_0,job_title,company,company_rating,job_description,low_salary_limit,max_salary_limit,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,No Interview + Start Immediate * 3 Months Temp...,Recruit Express,3.3,"Singapore |\nPosted: Sep 17, 2023\nJD - to ass...",12000,12000,Singapore,3.1,3.2,3.3,3.2,3.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
1,1,Staff Analyst - Information Technology (B2B),Infineon Technologies,4.2,"Are you an entrepreneurial thinker, creative p...",0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD,3.3,looking for fresh graduates with IT educationa...,2000,6000,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
3,3,Information Technology - Mobile Applications D...,Singapore Airlines,3.8,The Singapore Airlines Mobile application (ava...,89000,132000,Singapore,3.1,3.5,3.3,3.0,3.6,"['""Good benefits and strong union support"" (in...","['""Mostly under contract and salary is average..."
4,4,Information Technology Engineer (IBM Mainframe...,D L RESOURCES PTE LTD,3.3,"Requirements:\nExperience in IBM Mainframe, CO...",3000,6000,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,"Lending Specialist, Private Banking",STANDARD CHARTERED BANK (SINGAPORE) LIMITED,4.0,Role Responsibilities\nTo assist in providing ...,5000,8000,Singapore,3.7,3.8,3.9,3.4,3.7,"['""work life balance sounds good"" (in 104 revi...","['""No work life balance especially if you are ..."
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT,4.0,Job purpose:\nThis is a role for a Markets Com...,8000,9000,Singapore,3.6,3.7,3.9,3.6,4.3,"['""Good work life balance with ample PTO"" (in ...","['""Absolutely no work life balance"" (in 5 revi..."
987,987,Senior Audit Support Analyst,Morgan McKinley,4.2,Job Summary\nSingapore\nPermanent\nJN -082023-...,0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"['""Great agency to work with!"" (in 1 reviews)'...","['""needs better pay to make a living"" (in 2 re..."
988,988,Admin Assistant,HAYS SPECIALIST RECRUITMENT PTE. LTD.,3.6,Your Company:\n\nA leading global financial se...,4000,5000,Singapore,3.7,3.3,3.6,3.3,3.4,"['""good salary"" (in 17 reviews)', '""Friendly s...","['""Salary is low"" (in 17 reviews)', '""Staff ar..."
989,989,Associate - Singapore Regulatory Compliance Of...,NOMURA SINGAPORE LIMITED,3.9,Company overview\nNomura is a global financial...,7000,13000,Singapore,3.5,3.6,3.8,3.3,3.8,"['""Good pay"" (in 4 reviews)', '""Mostly nice pe...","['""Pay not good compared with competitors"" (in..."

In [42]:
# Converting company pros and cons from str to list, since data in df is str
companypros = df_clear.company_pros_reviews.tolist()
companycons = df_clear.company_cons_reviews.tolist()

for i in range(len(companypros)):
    companypros[i] = ast.literal_eval(companypros[i])
    companycons[i] = ast.literal_eval(companycons[i])

In [47]:
# Removing all -1 values from pro and con reviews (might have to run this cell at least 5 times)
for i in range(len(companypros)):
    for x in companypros[i]:
        if x == -1:
            companypros[i].remove(x)

    for x in companycons[i]:
        if x == -1:
            companycons[i].remove(x)

In [48]:
for i in range(len(companypros)):
    if not companypros[i]:
        companypros[i] = 'N/A'
    if not companycons[i]:
        companycons[i] = 'N/A'

df_clear.company_pros_reviews = companypros
df_clear.company_cons_reviews = companycons

In [49]:
df_clear

,unnamed:_0,job_title,company,company_rating,job_description,low_salary_limit,max_salary_limit,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,No Interview + Start Immediate * 3 Months Temp...,Recruit Express,3.3,"Singapore |\nPosted: Sep 17, 2023\nJD - to ass...",12000,12000,Singapore,3.1,3.2,3.3,3.2,3.0,N/A,N/A
1,1,Staff Analyst - Information Technology (B2B),Infineon Technologies,4.2,"Are you an entrepreneurial thinker, creative p...",0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,N/A,N/A
2,2,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD,3.3,looking for fresh graduates with IT educationa...,2000,6000,Singapore,2.8,2.2,2.5,2.5,2.6,"[""Very responsible, able to ans to staff enqui...","[""Basic benefits is given by dl resources clie..."
3,3,Information Technology - Mobile Applications D...,Singapore Airlines,3.8,The Singapore Airlines Mobile application (ava...,89000,132000,Singapore,3.1,3.5,3.3,3.0,3.6,"[""Good benefits and strong union support"" (in ...","[""Mostly under contract and salary is average...."
4,4,Information Technology Engineer (IBM Mainframe...,D L RESOURCES PTE LTD,3.3,"Requirements:\nExperience in IBM Mainframe, CO...",3000,6000,Singapore,2.8,2.2,2.5,2.5,2.6,"[""Very responsible, able to ans to staff enqui...","[""Basic benefits is given by dl resources clie..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,"Lending Specialist, Private Banking",STANDARD CHARTERED BANK (SINGAPORE) LIMITED,4.0,Role Responsibilities\nTo assist in providing ...,5000,8000,Singapore,3.7,3.8,3.9,3.4,3.7,"[""work life balance sounds good"" (in 104 revie...","[""No work life balance especially if you are i..."
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT,4.0,Job purpose:\nThis is a role for a Markets Com...,8000,9000,Singapore,3.6,3.7,3.9,3.6,4.3,"[""Good work life balance with ample PTO"" (in 5...","[""Absolutely no work life balance"" (in 5 revie..."
987,987,Senior Audit Support Analyst,Morgan McKinley,4.2,Job Summary\nSingapore\nPermanent\nJN -082023-...,0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[""Great agency to work with!"" (in 1 reviews), ...","[""needs better pay to make a living"" (in 2 rev..."
988,988,Admin Assistant,HAYS SPECIALIST RECRUITMENT PTE. LTD.,3.6,Your Company:\n\nA leading global financial se...,4000,5000,Singapore,3.7,3.3,3.6,3.3,3.4,"[""good salary"" (in 17 reviews), ""Friendly staf...","[""Salary is low"" (in 17 reviews), ""Staff are r..."
989,989,Associate - Singapore Regulatory Compliance Of...,NOMURA SINGAPORE LIMITED,3.9,Company overview\nNomura is a global financial...,7000,13000,Singapore,3.5,3.6,3.8,3.3,3.8,"[""Good pay"" (in 4 reviews), ""Mostly nice peopl...","[""Pay not good compared with competitors"" (in ..."